
artigo\.csv

TP2_BD\.dev

Makefile\.win

Article\.o

TP2_BD\.layout

TP2_BD\.exe

article\.hpp

\.idea/codeStyles/

Article\.exe

\.idea/

Article\.h\.gch

cmake-build-debug/CMakeFiles/TP2_BD\.exe\.dir/

cmake-build-debug/CMakeFiles/

cmake-build-debug/

*.gz

html/search/

latex/

html/

file\.bak

file

fileHash\.bin

arquivo\.entrada\.tp2\.bd1\.artigos\.csv

*.bin
